.general{
  background-color: #7ebc7c;
  height: 378px;
  width: 757px;
  position: relative;
}

.subgeneral{
  background-color:#7ebc7c;
  height: 346px;
  width: 724px;
  border:5px solid white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.arco1{
  background-color:#7ebc7c;
  height: 143px;
  width: 73px;
  border-top:5px solid white;
  border-right:5px solid white;
  border-bottom: 5px solid white;
  position:relative;
  top:90px;
}

.arco2{
  background-color:#7ebc7c;
  height: 143px;
  width: 73px;
  border-top:5px solid white;
  border-left:5px solid white;
  border-bottom: 5px solid white;
  position: relative;
  left: 646px;
  bottom:65px;
}
.centro{
  background-color:#7ebc7c;
  height: 143px;
  width: 143px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  position: relative;
  bottom: 220px;
  left: 300px;
  }

.pelota1{
  background-color:white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  box-shadow: 2px 2px 5px black;
  position: absolute;
  bottom: 233px;
  left: 59px;
}

.pelota2{
  background-color:white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  box-shadow: 2px 2px 5px black;
  position: absolute;
  bottom: 290px;
  left: 380px;
}

.pelota3{
  background-color:white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  box-shadow: 2px 2px 5px black;
  position: absolute;
  bottom: 120px;
  left: 620px;
}
